* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
 
/* Common */

body{
     font-family:Arial, sans-serif ;
     background-color: rgb(248, 247, 247);
}

.title {
    display: inline-block;
    vertical-align: middle;
}

.navigator {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    border-radius: 5px;

}

.list {
    padding-top: 40px;
}


.list-element {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}

.colored {
    background-color:rgb(60, 188, 248);
    font-size:10px ;
    vertical-align: middle;
    padding: 6px 10px 6px 10px;
    color: white;
    border-radius:10px ; 
}

.check {
    border: 2px solid rgb(30, 230, 30);
    color: rgb(30, 230, 30);
    font-size: 10px;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cross {
    color: red;
    border: 2px solid red;
}
/* Header */

header{
    height: 70px;
    background-color: white;
}



h1 {
    color: #031732;
    font-size: 40px;
    
}

 #logo {
    line-height: 70px;
    margin:5px 15px;
}

/* nav*/

nav {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    line-height: 50px;
    font-size: 10px;
    margin-top: 2px ;
    margin-bottom: 2px;

}

#section-nav{
    vertical-align: middle;
    margin-left: 50px;
}

#blu {
     background-color: rgb(60, 188, 248);
     height: 20px;
     line-height: 20px;
     color: white;
     padding: 1px;
}

#white {
    background-color: white;
    height: 20px;
    line-height: 20px;
    border: 1px solid lightgray;
    color: lightgray;
}

.botton {
    padding: 15px;
}

/* main */

main {
    width: 70%;
    height: 1200px;
    margin: 0 auto;
    background-color: white;  
}

#centre {
    margin-left: 50px;
   
}


li {
    margin-top: 10px;
    list-style-type: none;
}


#purple {
    background-color: rgb(187, 114, 240);
}

#green {
    background-color: rgb(18, 192, 134);
}



#orange {
    background-color: rgb(252, 133, 64);
}

#pink {
    background-color: rgb(218, 96, 153);
}

#lime {
    background-color: rgb(151, 204, 82);
}


